input {
	width: 300px;
	height: 50px;
	display: block;
	padding: 0.8em 0;
	margin: 0.8em auto 0;
	background: #50597b;
	color: #fff;
	border: solid 1px #1f253d;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

input.button {
	background: #1F253D;
	color: #95a5a6;
	font-size: 2em;
	padding: 0.2em;
	-webkit-transition: background 1s ease-in-out;
	-moz-transition: background 1s ease-in-out;
	-ms-transition: background 1s ease-in-out;
	-o-transition: background 1s ease-in-out;
	transition: background 1s ease-in-out;
}

input.button:hover {
	background: #e64c65;
	color: #fff;
	-webkit-transition: background 1s ease-in-out;
	-moz-transition: background 1s ease-in-out;
	-ms-transition: background 1s ease-in-out;
	-o-transition: background 1s ease-in-out;
	transition: background 1s ease-in-out;
	cursor: pointer;
}

input.text {
	text-align: center;
	padding: 0.2em;
	font-size: 2em;
}

input:focus {
	outline: none !important;
}

::-webkit-input-placeholder {
   color: #95a5a6;
}

:-moz-placeholder { /* Firefox 18- */
   color: #95a5a6;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #95a5a6; 
}

:-ms-input-placeholder {  
   color: #95a5a6; 
}
