h2 {
	margin: 0 auto;	
	background: #cc324b;
	padding: 1em 0.4em;
	font-size: 1.5em;
	font-weight: 400;
	display: block;
	line-height: 1em;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: #fff;
}
