ul.guessBox {
	height: 80px;
	margin: 10px auto 0;
	background: #11a8ab;
	padding: 0.5em;
	display: block;
	line-height: 2em;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	color: #fff;
	overflow: auto;
}
ul.guessBox li {
	display: inline;
	background-color: #1a4e95;
	padding: 0.3em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 95%;
	margin: 0.2em;
	color: #fff;
}
