/* Create a highlight keyframe */
@keyframes section-highlight {
  0% {
    background: #9b1228;
  }
  100% {
    background: none;
  }
}

ol {
  margin-bottom: 1rem;
}

#what {
  padding: 2rem;
}

#what:focus {
  outline: 0;
}

#what:target {
  animation: section-highlight 3s;
}
