#what {
    padding: 2rem;
}

#what:focus {
    outline: 0;
}

/* Create a highlight keyframe */
@keyframes highlight {
    0% {
        background: skyblue
    }
    100% {
        background: none;
    }
  }
  
  /* When we link from one part of this page to another
     we get a nice brief highlight */
  :target {
    animation: highlight 2s;
  }