.overlay {
	width: 100%;
	height: 100%;
	color: #fff;
	background: #e74c3c;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1000;
}

.content {
	color: #fff;
	background: #e74c3c;
	position: relative;
	height: auto;
	width: 600px;
	border-radius: 3px;
	top: 15%;
	margin: auto auto;
	border: 1px solid rgba(0,0,0,0.1);
}

.content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.content > div p {
	margin: 0;
	padding: 10px 0;
	line-height: 2em;
	text-align: justify;
}

.content > div ul {
	margin-bottom: -30px;
	padding: 0 0 30px 20px;
	text-align: left;
}

.content > div ul li {
	padding: 5px 0;
	display: block;	
	list-style-type: disc;
	line-height: 1.5em;
}

.content > div ul li strong{
	text-decoration: underline;
}

.content > div a {
	font-size: 0.8em;
	background: #1F253D;
	color: #95a5a6;
	padding: 0.5em 2em;
	margin-bottom: 50px;
	border-radius: 3px;
}
